<div class="container">
    <div class="form-box">
        <form [formGroup]="loginForm" class="form">
            <div class="form-section">
                <a href="#"><img src="../../../assets/logo-fika.png" alt="" class="logo"></a>
                <h2 class="form-title" class="title">Fika Health & Beauty</h2>
                <p class="subtitle">¡Bienvenido!</p>
            </div>
            <p class="text-danger">{{loginError}}</p>
            <div class="form-container">
                <div class="form-group">
                    <input formControlName="user" type="user" class="form-control" id="exampleInputUser1"
                        aria-describedby="userHelp" class="input" placeholder="Ingrese su DNI">
                    <div *ngIf="user.invalid && (user.dirty || user.touched)" class="text-danger">
                        <div *ngIf="user.errors?.['required']">
                            El Usuario es requerido.
                        </div>
                        <div *ngIf="user.errors?.['user']">
                            El Usuario debe tener un formato válido.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1"
                        class="input" placeholder="Contraseña">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                        <div *ngIf="password.errors?.['required']">
                            La contraseña es requerida.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-section">
                <button type="submit" (click)="login()" class="btn-submit">Iniciar Sesión</button>
                <br>
                <a [routerLink]="['/reserva']">¿No tienes una cuenta? Registrate.</a>
                <br>
                <a [routerLink]="['/restablecer']">¿Olvidaste tu contraseña?</a>
            </div>
        </form>
    </div>
</div>