<div class="centered-form">
    <h2>Registro de Usuario</h2>
    <form (ngSubmit)="registrarUsuario()" #registroForm="ngForm">
        <div class="form-group">
            <label for="user">Nombre de usuario</label>
            <input type="text" id="user" name="user" [(ngModel)]="usuario.user" required>
        </div>
        <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" name="email" [(ngModel)]="usuario.email" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" [(ngModel)]="usuario.password" required>
        </div>
        <div class="form-group" style="display: none;">
            <label for="estate">Estado</label>
            <input type="text" id="estate" name="estate" [(ngModel)]="usuario.estate">
        </div>

        <!-- Agrega más campos si es necesario -->
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
</div>